<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>購入完了画面</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="">千葉マーリンズ主催試合チケット購入</a>
      </div>
    </nav>
    
   <h1>購入完了</h1>
   <p>ご購入ありがとうございました。</p>
   
   <a th:href="@{/ticket/list}">チケット一覧へ戻る</a>
   <th:block th:if="${isUser}">
	   <a th:href="@{/ticket/logout}">ログアウト</a>
   </th:block>
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>